<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruit Pirates</title>
</head>
<body>
    <h1>Pirates Base</h1>
    <p>Welcome Captain, let's recruit The Crew For Your Ship</p>
    
    <a href="/">Home</a>
    <a href="/ships">Ships</a>
    <a href="/ships/add">Add Ships</a>
    <a href="/pirate">Pirates</a>
    <a href="/pirates/add">Add Pirates</a>
    
    <h2>Recruit The Crew</h2>
    <form action="/pirates/add" method="post">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="Status" id="Status" placeholder="Status">
        <input type="text" name="Haki" id="Haki" placeholder="Haki">
        <input type="text" name="ability" id="ability" placeholder="ability">
        <input type="submit" value="Submit">
    </form>
</body>
</html>