<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ships Store</title>
</head>
<body>
    <h1>Ships Port</h1>
    <p>Let's buy a ship for your pirates adventure</p>
    
    <a href="/">Home</a>
    <a href="/ships">Ships</a>
    <a href="/ships/add">Add Ships</a>
    <a href="/pirate">Pirates</a>
    <a href="/pirates/add">Add Pirates</a>
    
    <h2>Buy The Ships</h2>
    <form action="/ships/add" method="post">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="type" id="type" placeholder="type">
        <input type="Number" name="power" id="power" placeholder="power">
        <input type="submit" value="Submit">
    </form>
</body>
</html>