<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Find One Piece</title>
    <style>
        body {
          background-image: url('Home.jpg');
          background-size: cover;
          background-position: center center;
        }
    </style> 
</head>
<body><center>
    <h1>Ships and Pirates List</h1>
    <p>Build your own pirate or marine crew with the mightiest ships to find one piece</p>
    
    <a href="/">Home</a>
    <a href="/ships">Ships</a>
    <a href="/ships/add">Add Ships</a>
    <a href="/pirates">Pirates</a>
    <a href="/pirates/add">Add Pirates</a>
    
    <h2>Let's conquer the sea</h2>
</center>
</body>
</html>