<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirate Base</title>
</head>
<body>
    <h1>Pirates Base</h1>
    <p>Let's find and recruited new crew</p>

    <a href="/">Home</a>
    <a href="/ships">Ships</a>
    <a href="/ships/add">Add Ships</a>
    <a href="/pirates">Pirates</a>
    <a href="/pirates/add">Add Pirates</a>
    
    <h2>Let's conquer the sea</h2>

    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Haki</th>
                <th>ability</th>
            </tr>
        </thead>
        <tbody>
            <% pirates.forEach(pirate =>{
                <tr>
                    <td><%= pirates.id %></td>
                    <td><%= pirates.name %></td>
                    <td><%= pirates.status %></td>
                    <td><%= pirates.haki %></td>
                    <td><%= pirates.ability %></td>
                    <td><a href="pirates/delete/:<%= pirates.id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>