<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ships Port</title>
</head>
<body>
    <h1>Ships Port</h1>
    <p>Welcome, let's find the best ship for your adventure</p>

    <a href="/">Home</a>
    <a href="/ships">Ships</a>
    <a href="/ships/add">Add Ships</a>
    <a href="/pirates">Pirates</a>
    <a href="/pirates/add">Add Pirates</a>
    
    <h2>Let's conquer the sea</h2>

    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Power</th>
                <th>ability</th>
            </tr>
        </thead>
        <tbody>
            <% ships.forEach(pirate =>{
                <tr>
                    <td><%= ships.id %></td>
                    <td><%= ships.name %></td>
                    <td><%= ships.status %></td>
                    <td><%= ships.haki %></td>
                    <td><%= ships.ability %></td>
                    <td><a href="ships/delete/ <%= ships.id %>">Delete</a></td>
                </tr>
            <% }) %> %>
        </tbody>
    </table>
    
</body>
</html>